
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/


.checkbtn {
    display:block;
}

.checkbtn i {
    border: 1px #fff solid ;
    border-radius: 20%;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
}

#check:checked ~ ul {
    left:0;
}

#navbar {
    border-bottom:1px #fff solid;

}

.menu {
    position: fixed ;
    width: 100%;
    height: 23vh;
    background-color:  #FF2276;
    top: 5rem;
    right: -1600px;
    padding-top: 4rem;
    transition: all 0.9s ease-in-out;
}

