
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/


.checkbtn {
    display:block;
}

.checkbtn i {
    border: 1px #fff solid ;
    border-radius: 10%;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
    
}

#check:checked ~ ul {
    left:0;
}

.menu {
    position: fixed ;
    width: 100%;
    height: 40vh;
    background-color:  #FF2276;
    top: 4.5rem;
    right: -1600px;
    flex-direction: column;
    padding-top: 1.3rem;
    border-top:1px #fff solid;
    transition: all 0.2s ease-in-out;
}

#navbar ul li a {
    padding: 0.6rem;
    display: flex;
    margin-left: 2rem;  
}

#navbar {
    padding: 1.46rem 1.2rem;
    padding-bottom: 1.3rem;
}

#navbar h1 {
    font-size: 1.2rem;
    color: #fff;
    
}

/***media for showcase ***/
#showcase {
    height: 95vh;
}
.showcase-container h1 {
    padding: 0 1rem;
    font-size: 2.7rem;
}

.showcase-container p {
    padding: 3rem  1rem;
}

/***service-section***/
.all-title {
    padding-top: 6.8rem 0;
}

.all-title p {
    font-size: 0.92rem;
    padding: 0  1rem;
}

#services .services {
    display: block;
    padding-bottom: 4.5rem;
}

#services .services .service { 
    padding: 0.1rem 1rem;
}


#services .services .service  p {
    font-size: 14.5px;
    margin-bottom: 2.6rem;
}

#services .services i {
    font-size: 3.2rem;
    padding-bottom: 1.4rem;
}

/*** clients****/
#clients {
    height: 120vh;
}

.client-content ul  {
    display: flex;
    flex-direction: column;
}

.client-content .left {
    position: absolute;
    top: 215px;
    margin-left: -32.3rem;
}

.client-content .right {
    float: right;
    position:relative;
    top: -505px;
    margin-right: -32.3rem;
}

.client-content ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 0.3rem;
    height: 100%;
}

.client-content ul  li {
    padding: 3.2rem 0;
}

.client-content .content-1 {
    padding: 2.5rem 5.7rem;
}

.client-content .content-2 {
    padding: 2.5rem 6.8rem;
}

.client-content .content-3 {
    padding: 2.5rem 5.7rem;
}

.client-content .content-4 {
    padding: 2.5rem 5.3rem;
    font-size: 2rem; 
}


/***work****/

#work .work-gellary{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 
}

.work-wrapper img {
    width: 460px;
    height: 297px;
}

/*** testimonial***/
.testimonials-content p {
    line-height: 1.6rem;
    font-size: 0.88rem;
    padding: 0 1rem;

}

/*** Team ***/
.team-members {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}


.team-container {
    margin: 3rem 1rem;
    padding-bottom: 4.7rem;
}

.team-members .team-member {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.team-member .content {
   padding: 1rem 0;
}

/*** contact***/

#contact {
    height: 76vh;
}
#contact .container{
    margin-top: 4.9rem;
}
#contact .container p {
    padding: 0rem 7rem;
    padding-top: 1.3rem;
}





